<html>

<head>
  <title>This is the help page for weather app</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    body {
      color: rgb(197, 219, 213);
      max-width: 80% !important;
      margin: 0 auto !important;
      font-family: fantasy !important;
    }

    h2 {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
    }

    h3 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
    }

    .title {
      margin-top: 6%;
    }
  </style>
</head>

<body>
  {{>header}}
  <h2 class="title">{{title}}</h2>
  <h3>{{description}}</h3>
  {{>footer}}
</body>

</html>