<head>
    <style>
        .footer {
            position: fixed;
            bottom: 0%;
            height: 7%;
            width: 80%;
            background-color: rgb(9, 43, 69);
        }
    </style>
</head>

<body>
    <footer>
        <p class="footer">Created by {{name}}</p>
    </footer>
</body>