<head>
    <style>
        body {
            background-color: rgb(61, 79, 99);
        }

        a {
            color: rgb(207, 200, 116);
            text-decoration: none;
        }

        header {
            margin-top: 0%;
            height: 7%;
            background-color: rgb(9, 43, 69);
        }
    </style>
</head>

<body>
    <header>
        <center>
            <h1>{{title}}</h1>

            <a href="/">Weather</a>
            <a style="float:left;" href="/about">About</a>
            <a style="float:right;" href="/help">Help</a>
        </center>
    </header>
</body>